
html, body {
    text-align: center;
}
p {text-align: left;}

body {
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #F1F5F8;
    margin: 0;
    padding: 0;
    background: #697280;
    background-color: #816969;
}
*
{
    margin: 0 auto 0 auto;
    text-align:left;}
#header
{

    height:122px;
    width:753px;
    overflow:hidden;
    margin-top:25px;
    padding-top:63px;
    padding-left:30px;
    padding-right:30px;
    background-image:url(cover.png);
    background-repeat:no-repeat;

}

#header h1, #header h2, #header h3
{
    font-size:15px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    clear:both;
    margin-left:0px;
    width:693px;
    position:relative;
    color:#000000;
    text-align:center;
}
#header h1
{
    margin-left:0px;
    margin-top: 10px;
    width:693px;
    position:relative;
    color:#000000;
    font-size:20px;
    font-family:New Century Schoolbook, serif;
}

#header h2
{
    margin-left:0px;
    margin-top: 10px;
    width:693px;
    position:relative;
    color:#000000;
    font-size:30px;
    font-family:Snell Roundhand, cursive;
}



#bar
{
    background-image:url(stick.png);
    background-repeat:no-repeat;
    height:53px;
    width:750px;
    padding-bottom:15px;
    text-align:center;
    margin:0 auto 0 auto;
}

#bar ul {
    margin: 0px auto 0px auto;
    padding: 0px;
    list-style-type: none;
    height: 74px;
    text-align:center;
}

#bar ul li , #bar ul li a, #bar ul li a:visited{
    margin: 0px;
    padding: 0px;
    height: 30px;
    overflow: hidden;
    display: inline;

    text-align:center;
    line-height:65px;
    color:#26476E;
    padding-left:6px;
    padding-right:6px;

}

#bar ul li a:hover
{
    color:#000000;
    text-decoration:underline;

}

#page
{
    margin: 0 auto 0 auto;
    display: block;
    height:auto;
    position: relative;
    overflow: hidden;
    width: 753px;
}

.contentPara
{
    width:680px;
    padding-left:30px;
    padding-right:30px;
    font-size:13px;
    color:#FFFFFF;
    line-height:19px;
}

.contentLabel
{
    margin-top:20px;
    margin-left:0px;
    margin-right:25px;
    width:700px;
    height:44px;

}


.contentLabel h1
{
    margin-left:21px;
    padding-top:8px;
    font-size:25px;
    font-weight:bold;
    letter-spacing:-1px;
    color:#FFFFFF;
    font-family: Snell Roundhand, cursive;
}

.contentLabel h2
{
    font-size:25px;
    font-weight:bold;
    letter-spacing:-1px;
    color:#0000FF;
    font-family: Bookman, serif;
    text-align: center;
    margin-bottom:40px;
    padding-top:8px;
}

a
{
    color:#F1F3F8;
    text-decoration:none;
}

a:hover
{
    border-bottom:1px dotted #F1F3F8;
}

b{
    text-decoration: underline;

}


#footer {
    width: 750px;
    height:20px;
    text-align:center;
    font-size:9px;
    color:#223F8D;
    padding-top:20px;
}

html, body {
    text-align: center;
    font-size: 25px;
}
p {
    margin:6px;
    text-align: left;
    text-align:justify;
}